*{
    margin: 0; padding: 0; box-sizing: border-box;
}
.box{
    width: 100%;
    height: 70vh;
    position: relative;
    background-image: url(main.jpg);

}
.box .inner{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
}
.foot{
    bottom: 0;
}
@media (max-width: 768px){
    .main-card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }
    .cards{
        margin: 10px 0;
        
    }
    .btn-check a{
        width: auto;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

